@charset "utf-8";
*{margin:0; padding:0;}
body{color:#565656; font-family: "Dotum","Gulim",serif; position: relative;}
a{text-decoration:none; color:inherit;}
ul, li{list-style:none;}
img{border:0;}
a{display:block;}

/* header */
header{width:1000px; height:200px; margin:0 auto;}
#logoSns{width:500px; margin-top:20px; float:left;}
#logoSns h1{float:left; height:22px; line-height: 22px;}
#logoSns h1 img{height:22px; margin-right:20px;}
#logoSns>a{margin-left:25px;}
header nav:nth-of-type(1){float:right;}
nav #login{text-align: right;}
#login li{float:left; font-size:10.5pt; margin-left:7px; height:22px; line-height: 22px; margin-top:20px;}
#login li:hover{opacity:0.6;}

#mainLogo{clear:both; text-align: center; padding-top:30px;}

nav #gnb{width:100%; height:40px; background:#2e465e; margin-top:30px; color:#fff;}
#gnb>li{width:142.8px; float:left; text-align:center; height:40px; line-height: 40px;}
#gnb>li>a{font-weight:600;}
/*#gnb>li:hover .sub{display: block;}*/
.sub{position:absolute; width:142.8px; background:#598ab2; z-index:10; display:none;}
.sub>li{height:30px; line-height:30px; padding-bottom:5px;}
.sub>li:hover{background:#2e465e; font-weight:600;}
/* section */
section{width:1000px; margin:0 auto;}
section>div{width:500px; float:left;}
article{margin-top:30px; width:500px;}
article>h1{color:#2e465e; font-size: 13pt; border-bottom:1px solid gray; padding-bottom:8px;}
article>h1 span{margin-left:10px; color:darkgray; font-size: 12pt;}

#headline{width:500px; height:450px;}
#headline ul{width:480px; height:85px; margin-top:15px;}
#headline ul:hover{text-decoration: underline;}
#headline img{width:130px; height:80px; margin-right: 15px;}
#headline li h1{font-size:11pt; color:#2e465e;}
#headline li:nth-of-type(1){float:left;}
#headline li:nth-of-type(3){margin-top:15px; font-size:8.5pt;}
#headline li>span{font-weight:600;}

#report{width:500px; height:210px;}
#report ul{width:500px; height:180px;}
#report li{width:230px; float:left; font-size:10pt; margin:10px;}
#report li:hover{cursor:pointer; text-decoration:underline;}
#report img{width:110px; margin-right:10px; float:left;}
#report p{margin-top:8px;}

#notice{width:500px; height:250px;}
#notice li{font-size:10pt; width:500px; height:16px;  margin-top:12px;}
#notice ul li:hover h1{text-decoration:underline; }
#notice li h1{float:left; font-size:10pt; font-weight:100;}
#notice li p{float:right;}
#notice span{font-weight: 600;}

#gallery{width:500px; height:450px;}
#gallery>div{margin:10px auto; width:480px; height:315px; background:#2e465e;}
#bigThumb{width:360px; height:280px; margin:15px 10px; float:left;}
#bigThumb img{width: 360px; height: 280px;}
#smallThumb{width:90px; float:left; margin-top:12px;}
#smallThumb img:hover{box-shadow: 0 0 5px #fff;}
#smallThumb img{width:90px; height:70px;}
/* aside */
aside #slideBox{width:960px; height:70px; margin:0 auto; overflow:hidden;}
aside #slide{width:1728px;}
aside #slide img{width:190px; height:68px; float:left; border:1px solid darkgray;}
/* footer */
#footBox{width:960px; height:60px; margin:30px auto; font-size:10pt;}
#botLogo{width:191px; height:60px; float:left; border-right:2px solid darkgray; margin-right:20px;}
#botLogo img{margin:20px 11.5px;}
#footBox ul{width:700px; height:20px; margin-top:3px; float:left;}
#footBox ul li{height:20px; float:left; margin-right:10px;}
#footBox ul li a:hover{color:#598ab2;}
address{float:left; margin-bottom: 5px; font-style: normal;}
#footBox p{float:left;}
#footBox p span{font-weight:600;}

#popup {position: absolute; width: 100%; height: 100%; background:rgba(0,0,0,0.5); top: 0; display: none;}
.popup1{width: 270px; height: 382px; position: fixed; left: 40%; top: 20%;}
.popup2{position: fixed; left: 40%; top: 20%;}
#popup button{display: block; border: none; background-color:#598ab2; width: 80px; height: 30px; color: #fff; font-weight: bold; margin: 10px auto;}
#popup button:hover{box-shadow: 0 0 30px #fff; cursor: pointer;}









